@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap');
h1 {
  font-family: "Heebo";
  font-weight: 900;
}
p {
  font-family: "Heebo";
}
div#desc-container {
  padding: 5% 25% 5% 25%;
}
div#main-header {
  background-color: #3F72C1;
  color: #fff;
}
div#main-body {
  background-color: #fff;
}
