@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap');
h1 {
  font-family: 'Lato';
  font-weight: 900px;
}
p {
  font-family: 'Lato';
}
div#desc-container {
  width: 1200px;
  margin: auto;
}
