@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap');
h1 {
  font-family: "Heebo";
  font-weight: 900;
}
p {
  font-family: "Heebo";
}
div#main-header {
  background-color: #3F72C1;
  color: #fff;
  width: 100%;
}
div#main-body {
  background-color: #fff;
}
h1#name-header {
  text-align: center;
  text-size: 15em;
}
body {
  margin: 0 25% 0 25%;
]
